<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ls.vbuynet.commons.mapper.LogistitcsMapper">
  <resultMap id="BaseResultMap" type="com.ls.vbuynet.commons.domain.Logistitcs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logistitcs_code" jdbcType="VARCHAR" property="logistitcsCode" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_status_id" jdbcType="INTEGER" property="orderStatusId" />
  </resultMap>
</mapper>